{% extends "form.html" %}

{% block form %}
  {% if not advanced %}
    <input type="hidden" name="file" value="plugin">
  {% endif %}
  <input type="hidden" name="output" value="{{ output }}">
  <div class="page">
    <p class="help">Domain attribute specialization allows DITA document type
      developers to incorporate new conditional processing attributes that can
      be used for filtering and flagging, or new attributes with no existing
      equivalent that can be managed and generalized in the same way as
      conditional processing attributes.</p>
  </div>
  {% include "version-page.html" %}
  <div class="page">
    {% include "attribute-domain.html" %}
  </div>
  <div class="page">
    <fieldset>
      <p>
        <label for="id" class="required">Plug-in ID</label>
        <input type="text" name="id" id="id" class="required" required title="ID of the new topic type or shell">
        <span class="instruction">ID must conform to <a href="http://www.w3.org/TR/REC-xml/#NT-Name" target="_blank">XML Name syntax restrictions</a>.</span>
      </p>
      <p class="help">Plug-in ID is used to identify the .</p>
    </fieldset>
    {% include "common-metadata.html" %}
  </div>
{% endblock %}
