<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DITA Generator - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/pdf.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script-->
    <script type="text/javascript" src="/js/domains.js"></script>
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/pdf.js"></script>
  </head>
  <body>
    <div id="body">
      <header id="header">
        <h1><a href="/">DITA Generator</a></h1>
        {% if title %}
          <h2>{{ title }}</h2>
        {% endif %}
      </header>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <footer id="footer">
        <hr>
        <a href="https://github.com/jelovirt/dita-generator">About</a> |
        <a href="https://github.com/jelovirt/dita-generator/issues">Feedback</a> |
        Revision <a href="https://github.com/jelovirt/dita-generator/commit/@revision@">@revision.short@</a> |
        Developed by <a href="http://fi.linkedin.com/in/jelovirt">Jarno Elovirta</a>
        <a href="http://fi.linkedin.com/in/jelovirt"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" style="vertical-align:middle" alt="View Jarno Elovirta's profile on LinkedIn"></a>
      </footer>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2665281-9");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
