<div class="page">
  <fieldset>
    <div>
      <label for="type" class="required">
        {% ifequal output "specialization" %}
          Base info type
        {% endifequal %}
        {% ifequal output "shell" %}
          Structural module
        {% endifequal %}
      </label>
      <table>
        <tr>
          <td>Base:</td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="type" value="topic" class="required"> Topic<br>
            <input type="radio" name="type" value="map" class="required"> Map<br>
          </td>
        </tr>
        <tr>
          <td>Bookmap:</td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="type" value="bookmap" class="required"> Book Map<br>
          </td>
        </tr>
        <tr>
          <td>Technical Content:</td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="type" value="concept" class="required"> Concept<br>
            <input type="radio" name="type" value="task" class="required"> Task<br>
            <input type="radio" name="type" value="reference" class="required"> Reference<br>
          </td>
        </tr>
        <tr class="v1_2">
          <td>Learning and Training Content:</td>
        </tr>
        <tr class="v1_2">
          <td>
            <input type="radio" name="type" value="learningAssessment" class="required"> Learning Assessment<br>
            <input type="radio" name="type" value="learningBookmap" class="required"> Learning Book Map <sup>*</sup><br>
            <input type="radio" name="type" value="learningContent" class="required"> Learning Content<br>
            <input type="radio" name="type" value="learningMap" class="required"> Learning Map <sup>*</sup><br>
            <input type="radio" name="type" value="learningOverview" class="required"> Learning Overview<br>
            <input type="radio" name="type" value="learningPlan" class="required"> Learning Plan<br>
            <input type="radio" name="type" value="learningSummary" class="required"> Learning Summary<br>
          </td>
        </tr>
        <tr class="v1_2">
          <td>Machine Industry Content:</td>
        </tr>
        <tr class="v1_2">
          <td>
            <input type="radio" name="type" value="machineryTask" class="v1_2 required"> Machine Task <sup>*</sup><br>
          </td>
        </tr>
        <!--
        <tr>
          <th><label for="type">Parent type</label>:</th>
          <td>
            <select name="type" id="type" class="required">
              <option value=""></option>
              <optgroup label="Technical content">
                <option value="topic">Topic</option>
                <option value="concept">Concept</option>
                <option value="task">Task</option>
                <option value="reference">Reference</option>
                <option value="map">Map</option>
              </optgroup>
              <optgroup label="Learning" class="v1_2">
                <option value="learningAssessment">Learning Assessment</option>
                <option value="learningBookmap">Learning Book Map</option>
                <option value="learningContent">Learning Content</option>
                <option value="learningMap">Learning Map</option>
                <option value="learningOverview">Learning Overview</option>
                <option value="learningPlan">Learning Plan</option>
                <option value="learningSummary">Learning Summary</option>
              </optgroup>
              <option value="machineryTask" class="v1_2">Machine Task</option>
              <option value="bookmap">Book Map</option>
            </select>
          </td>
        </tr>
        -->
        <tr class="v1_2">
          <td>DITA 4 Publishers:</td>
        </tr>
        <tr class="v1_2">
          <td>
            <input type="radio" name="type" value="article" class="v1_2 required"> Article<br>
            <input type="radio" name="type" value="chapter" class="v1_2 required"> Chapter<br>
            <input type="radio" name="type" value="submodule" class="v1_2 required"> Submodule<br>
            <input type="radio" name="type" value="sidebar" class="v1_2 required"> Sidebar<br>
            <input type="radio" name="type" value="part" class="v1_2 required"> Part<br>
            <input type="radio" name="type" value="d4pCover" class="v1_2 required"> Cover<br>
            <input type="radio" name="type" value="pubmap" class="v1_2 required"> Publication<br>
          </td>
        </tr>
      </table>
    </div>
    <p class="v1_2 legend"><sup>*</sup> Module is a concrete document type provided by DITA Technical Committee.</p>
    <p class="help">
      {% ifequal output "specialization" %}
        Base information type for {{ output_title }}.
      {% endifequal %}
      {% ifequal output "shell" %}
        Information type for {{ output_title }}.
      {% endifequal %}
    </p>
  </fieldset>
  <fieldset>
    <p title="Enable topic nesting">
      <label for="nested">Nested topics</label>
      <input type="checkbox" name="nested" id="nested" value="true">
      <span class="instruction">Should the {{ output_title }} allow topic nesting.</span>
    </p>
    <p class="help">Topics can be nested to create larger document structures.
      However, the nesting always occurs outside the content boundary, so that
      child and parent topics can be easily separated and reused in different
      contexts.</p>
  </fieldset>
  {% if advanced %}
    <!--
    <p class="help"><em>Not supported at the time</em></p>
    <table>
      <tr title="Make shortdesc or abstract mandatory">
        <th><label for="nested">Mandatory shortdesc or abstract</label>:</th>
        <td><input type="checkbox" name="mandatory-shortdesc" id="mandatory-shortdesc" value="true"></td>
      </tr>
    </table>
    -->
  {% endif %}
</div>
<div class="page">
  <fieldset>
    <div>
      <label for="domain">Domains</label>
      <table>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="abbrev-d" class="topic domain"></td>
          <td>Abbreviated Form</td>
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="classify-d" class="map domain"></td>
          <td>Classify</td>
          <!--td>The classification domain elements are used to identify subjects covered by the content.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="hazard-d" class="topic domain"></td>
          <td>Hazard Statement</td>
          <!--td>The hazard statement domain elements represent labeling for product safety hazards that readers need to be aware of.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="hi-d" class="topic domain"></td>
          <td>Highlight</td>
          <!--td>The typographic elements are used to highlight text with styles.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="indexing-d" class="topic domain"></td>
          <td>Indexing</td>
          <!--td>The indexing domain provides several new elements for use with indexing.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="learning-d" class="topic domain"></td>
          <td>Learning</td>
          <!--td>The learning interaction base domain defines an "abstract" base type for all learning assessments.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="learningmap-d" class="map domain"></td>
          <td>Learning Map</td>
          <!--td>Use the learning and training map domain to organize groups of topics as learning objects.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="learningmeta-d" class="topic domain"></td>
          <td>Learning Meta</td>
          <!--td>Use the learning and training metadata to describe specific characteristics of the learning content.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="mapgroup-d" class="map domain"></td>
          <td>Map Group</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="pr-d" class="topic domain"></td>
          <td>Programming</td>
          <!--td>The programming domains elements are used to define the syntax and to give examples of programming languages.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="sw-d" class="topic domain"></td>
          <td>Software</td>
          <!--td>The software domain elements are used to describe the operation of a software program.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="taskreq-d" class="task domain"></td>
          <td>Task requirements</td>
          <!--td>The machine-industry task domain contains elements for use describing tasks that involve machines or other pieces of hardware.</td-->
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="delay-d" class="topic map domain"></td>
          <td>User Delayed Resolution</td>
          <!--td>The delayed conref resolution domain provides several elements for use when using DITA in situations that enable delayed or run time resolution of conref.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="ui-d" class="topic domain"></td>
          <td>User interface</td>
          <!--td>The user interface domain elements are used to describe the user interface of a software program.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="ut-d" class="topic domain"></td>
          <td>Utilities</td>
          <!--td>The utilities domain elements represent common features of a language that may not necessarily be semantic, such as image maps.</td-->
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="xnal-d" class="map domain"></td>
          <td>xNAL</td>
          <!--td>The xNAL domain elements represent a subset of the Extensible Name and Address Standard.</td-->
        </tr>
        <tr>
          <th colspan="2">DITA 4 Publishers</th>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_formatting-d" class="topic domain"></td>
          <td>Formatting</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_enumerationTopic-d" class="topic domain"></td>
          <td>Enumeration</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_enumerationMap-d" class="map domain"></td>
          <td>Enumeration</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_simpleEnumeration-d" class="topic domain"></td>
          <td>Simple Enumeration</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_classification-d" class="topic domain"></td>
          <td>Classification</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_pubcontent-d" class="topic domain"></td>
          <td>Content</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_math-d" class="topic domain"></td>
          <td>Math</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_media-d" class="topic domain"></td>
          <td>Media</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_ruby-d" class="topic domain"></td>
          <td>Ruby</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_variables-d" class="topic domain"></td>
          <td>Variables</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_verse-d" class="topic domain"></td>
          <td>Verse</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="d4p_renditionTargetAtt-d" class="topic domain"></td>
          <td>Rendition Target</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="pubmap-d" class="map domain"></td>
          <td>Pubmap</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="pubmapMapref-d" class="map domain"></td>
          <td>Pubmap Mapref</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="domain" value="pubmetadata-d" class="map domain"></td>
          <td>Pubmetadata</td>
        </tr>
      </table>
    </div>
    <p class="help">Domains define markup for a particular domain or subject area, such as programming, or hardware.
      Domain elements become available wherever their ancestor elements are allowed.</p>
    <div class="task domain v1_2">
      <label for="domain">Constraints</label>
      <table>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="strictTaskbody-c" class="task domain"></td>
          <td>Strict taskbody constraints</td>
        </tr>
        <tr class="v1_2">
          <td><input type="checkbox" name="domain" value="machineryTaskbody-c" class="task domain"></td>
          <td>Machinery taskbody constraints</td>
          <!--td>The machine-industry task domain contains elements for use describing tasks that involve machines or other pieces of hardware.</td-->
        </tr>
      </table>
    </div>
    <p class="help v1_2">Constraint modules define additional constraints for
      corresponding vocabulary modules in order to restrict content models or
      attribute lists for specific element types, remove extension elements from
      an integrated domain module, or replace base element types with
      domain-provided extension element types.</p>
    <p class="controller">
      Select:
      <span class="action" id="selectAllDomains" title="Select all domains ">All</span>,
      <span class="action" id="selectNoneDomains" title="Select no domains">None</span>,
      <span class="action" id="selectDefaultDomains" title="Select default domains for the parent topic type">Defaults</span>
    </p>
  </fieldset>
  {% include "attribute-domain.html" %}
</div>