{% extends "base.html" %}

{% block content %}
  <div class="prose">
    <h3>DTD Generation</h3>
    <dl>
      <dt><a href="specialization/">structural specialization</a>
      <dd>Defines new types of structured information, such
        as new topic types or new map types.</dd>
      <dt><a href="shell/">shell DTD</a></dt>
      <dd>Defines the set of structural modules,
        domain modules, and constraints modules that a map or topic can use.</dd>
      <dd>See <a href="http://drmacros-xml-rants.blogspot.com/2007/04/dita-standard-practice-always-make.html">article</a>
        about the benefits of creating local shells.</dd>
      <dt><a href="attribute/">domain attribute specialization</a></dt>
      <dd>Defines new conditional processing attributes. Both structural specialization and
        shell DTD generation also include the option for domain attribute specialization.</dd>
    </dl>
    <h3>Style plug-in generation</h3>
    <dl>
      <dt><a href="pdf-plugin/">PDF style plug-in</a><dt>
      <dd>Defines a new DITA-OT transformation type based on the built-in PDF conversion.</dd>
      <dd>Example plug-ins:
        <ul>
          <li>
            <a rel="nofollow" href="/generate-plugin?output=pdf-plugin&ot.version=1.5.4&pdf.page-size=210mm+297mm&pdf.page-margin-top=10mm&pdf.page-margin-outside=10mm&pdf.page-margin-bottom=10mm&pdf.page-margin-inside=20mm&pdf.mirror-page-margins=true&pdf.body-column-count=1&pdf.force-page-count=auto&pdf.chapter-layout=BASIC&pdf.bookmark-style=COLLAPSED&pdf.toc-maximum-level=3&pdf.task-label=NO&pdf.include-related-links=none&pdf.font-family=Serif&pdf.default-font-size=10pt&pdf.color=black&pdf.side-col-width=0pt&pdf.link-color=inherit&id=com.example.print-pdf&transtype=print-pdf&plugin-version=1.0.0">print PDF plug-in</a>
          </li>
        </ul></dd>
    </dl>
  </div>
{% endblock %}
