{% extends "form.html" %}

{% block form %}
  <script type="text/javascript" src="/js/pdf.js"></script>
  <script type="text/javascript" src="/js/pdf-preview.js"></script>
  {% if not advanced %}
    <!--input type="hidden" name="file" value="plugin"-->
  {% endif %}
  <input type="hidden" name="output" value="{{ output }}">
  <div class="page">
    <p class="help">A PDF customisation plug-in defines a new DITA-OT
      transformation type based on the built-in PDF conversion.</p>
    <fieldset>
      <p>
        <label for="ot.version" class="required">DITA-OT version</label>
        <select name="ot.version" id="ot.version" title="DITA-OT version">
          <option value="1.6">1.6</option>
          <option value="1.5.4" selected>1.5.4</option>
          <option value="1.5.3">1.5.3</option>
          <!--option value="1.0">1.5.2 or older</option-->
        </select>
      </p>
      <p class="instruction">Version of DITA-OT for which the plug-in is
        installed into.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.formatter" class="required">XSL formatter</label>
        <select name="pdf.formatter" id="pdf.formatter" title="XSL formatter">
          <option value="fop" selected>FOP</option>
          <option value="ah">AntennaHouse Formatter</option>
          <option value="xep">RenderX XEP</option>
        </select>
      </p>
      <p class="instruction">XSL formatter used to generate PDF output. DITA-OT comes with open source FOP formatter.</p>
    </fieldset>
     <p class="help">Note that customisation features available are dependent
        on the target DITA-OT and XSL formatter.</p>
    <!--fieldset>
      <p>
        <label for="pdf.generate-shell" class="required">Generate shell</label>
        <input type="checkbox" name="pdf.generate-shell" value="true" id="pdf.generate-shell" title="Generate shell">
      </p>
      <p class="instruction">Generate an XSLT shell stylesheet.</p>
      <p class="help">A custom XSLT shell stylesheet will allow more customization
        possibilities if plug-in is uses as a basis for further development.</p>
    </fieldset-->
  </div>
  <!-- page -->
  <div class="page">
    <h3>Page</h3>
    <!--div class="example" id="pdf.page.example">
      <div class="example-page even">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
    </div-->
    <fieldset>
      <p>
        <label for="pdf.page-size">Page size</label>
        <select name="pdf.page-size" id="pdf.page-size" title="Page size">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="210mm 297mm">A3</option>
          <option value="210mm 297mm" selected>A4</option>
          <option value="210mm 297mm">A5</option>
          <!--
          <option value="">Envelope #10</option>
          <option value="">Envelope B5</option>
          <option value="">Envelope C5</option>
          <option value="">Envelope DL</option>
          <option value="">Envelope Monarch</option>
          -->
          <option value="184.1mm 266.7mm">Executive</option>
          <option value="182mm  257mm">JIS B5</option>
          <option value="431.8mm 279.4mm">Tabloid</option>
          <option value="8.5in 14in">US Legal</option>
          <option value="8.5in 11in" selected>US Letter</option>
        </select>
      </p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.orientation">Orientation</label>
        <select name="pdf.orientation" id="pdf.orientation">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="portrait" selected>portrait</option>
          <option value="landscape">landscape</option>
        </select>
      </p>
    </fieldset>
    <!--
  </div>
  <div class="page">
    -->
    <h3>Margins</h3>
    <div class="example" id="pdf.margin.example">
      <div class="example-page even" title="Even page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.page-margin-top">Top</label>
        <input name="pdf.page-margin-top" id="pdf.page-margin-top" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p class="v1_5_3 hidden-when-disabled">
        <label for="pdf.page-margin-right">Right</label>
        <input name="pdf.page-margin-right" id="pdf.page-margin-right" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p class="v1_5_4 v1_6 hidden-when-disabled">
        <label for="pdf.page-margin-outside">Outside</label>
        <input name="pdf.page-margin-outside" id="pdf.page-margin-outside" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p>
        <label for="pdf.page-margin-bottom">Bottom</label>
        <input name="pdf.page-margin-bottom" id="pdf.page-margin-bottom" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p class="v1_5_3 hidden-when-disabled">
        <label for="pdf.page-margin-left">Left</label>
        <input name="pdf.page-margin-left" id="pdf.page-margin-left" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p class="v1_5_4 v1_6 hidden-when-disabled">
        <label for="pdf.page-margin-inside">Inside</label>
        <input name="pdf.page-margin-inside" id="pdf.page-margin-inside" placeholder="20mm" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
      <p class="instruction">Page margins.</p>
    </fieldset>
    <fieldset class="v1_5_4 v1_6">
      <p class="not-available">Not available for DITA-OT older than 1.5.4</p>
      <p>
        <label for="pdf.mirror-page-margins">Mirror margins</label>
        <input type="checkbox" name="pdf.mirror-page-margins" id="pdf.mirror-page-margins"
               value="true">
      </p>
    </fieldset>
    <h3 class="v1_5_4 v1_6">Columns</h3>
    <fieldset class="v1_5_4 v1_6">
      <p class="not-available">Not available for DITA-OT older than 1.5.4</p>
      <p>
        <label for="pdf.body-column-count">Body column count</label>
        <select name="pdf.body-column-count" id="pdf.body-column-count">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="1" selected>1</option>
          <option value="2">2</option>
        </select>
      </p>
      <p>
        <label for="pdf.index-column-count">Index column count</label>
        <select name="pdf.index-column-count" id="pdf.index-column-count">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </p>
      <p>
        <label for="pdf.column-gap">Column gap</label>
        <input name="pdf.column-gap" id="pdf.column-gap" placeholder="12pt" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" class="length-value">
      </p>
    </fieldset>
  </div>
  <div class="page">
    <h3 class="v1_6">Header and footer</h3>
    <fieldset class="v1_6">
      <p class="not-available">Not available for DITA-OT older than 1.6</p>
      <p>
        <label for="pdf.header">Header</label>
        <table>
          <thead class="even">
            <tr>
              <td><label for="pdf.header.even">even</label></td>
              <td><label for="pdf.header.odd">odd</label></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="even">
                <select for="pdf.header.even">
                  <option value=""></option>
                  <!--option value="part">Part title</option-->
                  <!--option value="number">Chapter number</option-->
                  <option value="chapter" selected>Chapter title</option>
                  <!--option value="subhead">Subhead</option-->
                  <!-->option value="author">Author</option-->
                </select>
              </td>
              <td>
                <select for="pdf.header.odd">
                  <option value=""></option>
                  <option value="chapter" selected>Chapter title</option>
                  <!--option value="subhead">Subhead</option-->
                  <!--option value="subchapter">Chapter subtitle</option-->
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </p>
      <p class="instruction">Page header contents.</p>
    </fieldset>
    <fieldset class="v1_6">
      <p>
        <label for="pdf.drop-folio">Drop folio</label>
        <input type="checkbox" name="pdf.drop-folio" id="pdf.drop-folio" value="true">
      </p>
      <p class="instruction">Place page number in footer.</p>
    </fieldset>
    <h3>Layout</h3>
    <!--
    <div id="page-preview" class="preview" style="float: right; width: 130px;">
      <div>Preview</div>
      <canvas id="preview.sequence" height="250" width="250"></canvas>
    </div>
    -->
    <div class="example pdf_force-page-count_example_auto">
      <div class="example-page even" title="Even page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Even odd, last page of chapter">
        <table class="example-page-body cut-off">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page even" title="Even page, first page of chapter">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="example pdf_force-page-count_example_even">
      <div class="example-page even" title="Even page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page, last page of chapter">
        <table class="example-page-body cut-off">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page even" title="Even page, blank page">
        <table class="example-page-body-empty">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page, first page of chapter">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="example pdf_force-page-count_example_odd">
      <div class="example-page even" title="Even page, last page of chapter">
        <table class="example-page-body cut-off">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page, blank page">
        <table class="example-page-body-empty">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page even" title="Even page, first page of chapter">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
      <div class="example-page odd" title="Odd page">
        <table class="example-page-body">
          <tr>
            <td><div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.force-page-count">Section start<!--Chapter page--></label>
        <select name="pdf.force-page-count" id="pdf.force-page-count" title="Force page count">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="auto">new page</option>
          <option value="even" selected>odd page</option>
          <option value="odd">even page</option>
        </select>
      </p>
      <p class="instruction">Chapters can be made to always start on an odd
        page or directly follow the previous page.</p>
      <p class="help">Default page count behavior for Bookmaps is to start every
      chapter on an odd page.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.chapter-layout" >Chapter layout</label>
        <select name="pdf.chapter-layout" id="pdf.chapter-layout" title="Chapter page layout">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="MINITOC" selected>chapter TOC</option>
          <option value="BASIC">no chapter TOC</option>
        </select>
      </p>
      <p class="instruction">Chapters can start with a table of chapter contents on a separate chapter cover page.</p>
    </fieldset>
  </div>
  <div class="page">
    <!--h3>Paragraph</h3>
    <div class="example">
      <div class="example-page-fragment" id="pdf.side-col-width.example">
      <div class="example-page-wrapper" id="pdf.text-align.example">
        <div class="example-page-content-topic">Heading 1</div>
        <div class="example-page-content-topic.topic">Heading 2</div>
        <p class="example-page-content-body">
        The quick brown fox jumps over the lazy dog.
        The quick brown fox jumps over the lazy dog.
        </p>
        <p class="example-page-content-body">
        The quick brown fox jumps over the lazy dog.
        The quick brown fox jumps over the lazy dog.
        The quick brown fox jumps over the lazy dog.
        </p>
        <div class="example-page-content-topic.topic.topic">Heading 3</div>
        <p class="example-page-content-body">
        The quick brown fox jumps over the lazy dog.
        The quick brown fox jumps over the lazy dog.
        </p>
      </div>
      </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.side-col-width">Indentation</label>
        <input name="pdf.side-col-width" id="pdf.side-col-width" placeholder="25pt" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
      </p>
      <p class="instruction">Amount the body text is indented relative to the left margin.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.spacing">Spacing before</label>
        <input name="pdf.spacing.before" id="pdf.spacing.before" placeholder="0.6em" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
      </p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.spacing">Spacing after</label>
        <input name="pdf.spacing.after" id="pdf.spacing.after" placeholder="0.6em" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
      </p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.text-align">Text alignment</label>
        <select name="pdf.text-align" id="pdf.text-align">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="start" selected>left</option>
          <option value="center">center</option>
          <option value="end">right</option>
          <option value="justify">justify</option>
        </select>
      </p>
    </fieldset>
    -->
    <!--
  </div>
  <div class="page">
    -->
    <h3>Style</h3>
    <fieldset>
      <!-- Style model -->
      <fieldset id="style-model" class="model">
      <input type="hidden" name="pdf.font-family.body" value="serif">
      <input type="hidden" name="pdf.font-size.body" value="10pt">
      <input type="hidden" name="pdf.color.body" value="black">
      <input type="hidden" name="pdf.font-weight.body" value="normal">
      <input type="hidden" name="pdf.font-style.body" value="normal">
      <input type="hidden" name="pdf.text-decoration.body" value="none">
      <input type="hidden" name="pdf.space-before.body" value="6pt">
      <input type="hidden" name="pdf.space-after.body" value="6pt">
      <input type="hidden" name="pdf.text-align.body" value="start">
      <input type="hidden" name="pdf.side-col-width.body" value="25pt"/>
      
      <input type="hidden" name="pdf.font-family.topic" value="sans-serif">
      <input type="hidden" name="pdf.font-size.topic" value="18pt">
      <input type="hidden" name="pdf.color.topic" value="black" class="inherit-from-body">
      <input type="hidden" name="pdf.font-weight.topic" value="bold">
      <input type="hidden" name="pdf.font-style.topic" value="normal">
      <input type="hidden" name="pdf.text-decoration.topic" value="none" class="inherit-from-body">
      <input type="hidden" name="pdf.space-before.topic" value="0pt">
      <input type="hidden" name="pdf.space-after.topic" value="16.8pt">
      <input type="hidden" name="pdf.text-align.topic" value="start">
      <input type="hidden" name="pdf.side-col-width.topic" value="0pt"/>
      
      <input type="hidden" name="pdf.font-family.topic.topic" value="sans-serif">
      <input type="hidden" name="pdf.font-size.topic.topic" value="14pt">
      <input type="hidden" name="pdf.color.topic.topic" value="black" class="inherit-from-body">
      <input type="hidden" name="pdf.font-weight.topic.topic" value="bold">
      <input type="hidden" name="pdf.font-style.topic.topic" value="normal">
      <input type="hidden" name="pdf.text-decoration.topic.topic" value="none" class="inherit-from-body">
      <input type="hidden" name="pdf.space-before.topic.topic" value="12pt">
      <input type="hidden" name="pdf.space-after.topic.topic" value="5pt">
      <input type="hidden" name="pdf.text-align.topic.topic" value="start">
      <input type="hidden" name="pdf.side-col-width.topic.topic" value="0pt"/>
      
      <input type="hidden" name="pdf.font-family.topic.topic.topic" value="sans-serif">
      <input type="hidden" name="pdf.font-size.topic.topic.topic" value="12pt">
      <input type="hidden" name="pdf.color.topic.topic.topic" value="black" class="inherit-from-body">
      <input type="hidden" name="pdf.font-weight.topic.topic.topic" value="bold">
      <input type="hidden" name="pdf.font-style.topic.topic.topic" value="normal">
      <input type="hidden" name="pdf.text-decoration.topic.topic.topic" value="none" class="inherit-from-body">
      <input type="hidden" name="pdf.space-before.topic.topic.topic" value="12pt">
      <input type="hidden" name="pdf.space-after.topic.topic.topic" value="2pt">
      <input type="hidden" name="pdf.text-align.topic.topic.topic" value="start">
      <input type="hidden" name="pdf.side-col-width.topic.topic.topic" value="0pt"/>
      
      <input type="hidden" name="pdf.font-family.topic.topic.topic.topic" value="serif" class="inherit-from-body">
      <input type="hidden" name="pdf.font-size.topic.topic.topic.topic" value="10pt" class="inherit-from-body">
      <input type="hidden" name="pdf.color.topic.topic.topic.topic" value="black" class="inherit-from-body">
      <input type="hidden" name="pdf.font-weight.topic.topic.topic.topic" value="bold">
      <input type="hidden" name="pdf.font-style.topic.topic.topic.topic" value="normal">
      <input type="hidden" name="pdf.text-decoration.topic.topic.topic.topic" value="none" class="inherit-from-body">
      <input type="hidden" name="pdf.space-before.topic.topic.topic.topic" value="12pt">
      <input type="hidden" name="pdf.space-after.topic.topic.topic.topic" value="0pt">
      <input type="hidden" name="pdf.text-align.topic.topic.topic.topic" value="start">
      <input type="hidden" name="pdf.side-col-width.topic.topic.topic.topic" value="" class="inherit-from-body"/>
      
      <input type="hidden" name="pdf.font-family.link" value="" class="inherit-from-body">
      <input type="hidden" name="pdf.font-size.link" value="" class="inherit-from-body">
      <input type="hidden" name="pdf.color.link" value="blue">
      <input type="hidden" name="pdf.font-weight.link" value="" class="inherit-from-body">
      <input type="hidden" name="pdf.font-style.link" value="" class="inherit-from-body">
      <input type="hidden" name="pdf.text-decoration.link" value="" class="inherit-from-body">
      <input type="hidden" name="pdf.space-before.link" value="">
      <input type="hidden" name="pdf.space-after.link" value="">
      <input type="hidden" name="pdf.text-align.link" value="">
      </fieldset>
      
      <input type="hidden" id="pdf-style-selector-current">
      <!-- Style UI -->
      <div>
        <select id="pdf-style-selector" class="label">
          <optgroup label="Block" class="block">
            <option value="body" selected>Normal</option>
            <option value="topic">Heading 1</option>
            <option value="topic.topic">Heading 2</option>
            <option value="topic.topic.topic">Heading 3</option>
            <option value="topic.topic.topic.topic">Heading 4</option>
            <!--
            <option value="topic.topic.topic.topic.topic">Heading 5</option>
            <option value="topic.topic.topic.topic.topic.topic">Heading 6</option>
            -->
          </optgroup>
          <optgroup label="Inline">
            <option value="link">Link</option>
          </optgroup>
        </select>
        <table>
          <tr>
            <th colspan="2"><h4>Formatting</h4></th>
          </tr>
          <tr>
            <td colspan="2">
            <label for="pdf.font-family" class="inline">Family</label>:
            <select id="pdf.font-family" title="Font family">
              {% if advanced %}<option value="">default</option>{% endif %}
              <option value="serif">serif</option>
              <option value="sans-serif">sans-serif</option>
              <!--option value="Monospaced">monospace</option-->
            </select>
            <label for="pdf.font-size" class="inline">Size</label>:
            <select id="pdf.font-size">
              {% if advanced %}<option value="">default</option>{% endif %}
              <option value="8pt">8</option>
              <option value="9pt">9</option>
              <option value="10pt">10</option>
              <option value="11pt">11</option>
              <option value="12pt">12</option>
              <option value="14pt">14</option>
              <option value="16pt">16</option>
              <option value="18pt">18</option>
              <option value="20pt">20</option>
              <option value="22pt">22</option>
              <option value="24pt">24</option>
              <option value="26pt">26</option>
              <option value="28pt">28</option>
              <option value="36pt">36</option>
              <option value="48pt">48</option>
              <option value="72pt">72</option>
              <!--option value="inherit">inherit</option-->
            </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="pdf.font-weight" class="inline">Bold</label>:
              <input id="pdf.font-weight" type="checkbox" value="bold">
              <label for="pdf.font-style" class="inline">Italic</label>:
              <input id="pdf.font-style" type="checkbox" checked value="italic">
              <label for="pdf.text-decoration" class="inline">Underline</label>:
              <input id="pdf.text-decoration" type="checkbox" checked value="underline">
              <!--label for="pdf.text-decoration" class="inline">Underline</label> <input id="pdf.text-decoration" type="checkbox" value="underline"-->
              <br>
              <label for="pdf.color" class="inline">Color</label>:
              <input type="input" style="silver" id="pdf.color" class="editable-list">
              <select id="pdf.color.list" title="Color">
                {% if advanced %}<option value="">default</option>{% endif %}
                <option value="black">black</option>
                <!--option value="inherit">inherit</option-->
                <option value="#other">other…</option>
              </select>
              <input type="text" id="pdf.color.other" style="display:none" size="7">
            </td>
          </tr>
          <tr class="pdf-style-selector-block">
            <th colspan="2"><h4>Indents and Spacing</h4></th>
          </tr>
          <tr class="pdf-style-selector-block">
            <td colspan="2">
              <label for="pdf.text-align" class="inline">Alignment</label>:
              <select id="pdf.text-align">
                {% if advanced %}<option value="">default</option>{% endif %}
                <option value="start" selected>left</option>
                <option value="center">center</option>
                <option value="end">right</option>
                <option value="justify">justify</option>
              </select>
            </td>
          </tr>
          <tr class="pdf-style-selector-block">
            <td>
              <label class="inline">Spacing</label>
              <table>
                <tr class="pdf-style-selector-block">
                  <th>
                    <label for="pdf.space-before" class="inline">Before</label>:
                  </th>
                  <td>
                    <input id="pdf.space-before" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
                  </td>
                </tr>
                <tr class="pdf-style-selector-block">
                  <th>
                    <label for="pdf.space-after" class="inline">After</label>:
                  </th>
                  <td>
                    <input id="pdf.space-after" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <label class="inline">Indentation</label>
              <table>
                <tr class="pdf-style-selector-block">
                  <th>
                    <label for="pdf.side-col-width" class="inline">Left</label>:
                  </th>
                  <td>
                    <input id="pdf.side-col-width" pattern="\d+(\.\d+)?(pt|mm|in|pc|cm|em)" size="5" class="length-value">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        
      
        </table>
      </div>
      <!--p class="help">Style definition.</p-->
    </fieldset>
    
    <!-- Style preview -->
    <h4>Formatting preview</h4>
    <div class="example-block">
      <div class="example-block-page" id="pdf.side-col-width.examplex">
        <div class="example-page-content" id="pdf.text-align.examplex">
          <div class="example-page-content-topic">Heading 1</div>
          <div class="example-page-content-topic.topic">Heading 2</div>
          <p class="example-page-content-body">
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
          </p>
          <p class="example-page-content-body">
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
          </p>
          <p class="example-page-content-body">
          The quick brown <span class="example-page-content-link">fox jumps</span><span id="pdf.link-page-number.example"> on page 42</span> over the lazy dog.
          </p>
          <div class="example-page-content-topic.topic.topic">Heading 3</div>
          <p class="example-page-content-body">
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
          The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
          </p>
        </div>
      </div>
    </div>
    
    <h3>Link</h3>
    <!--div class="example">
      <div class="example-text">
        <p>The quick brown <span id="pdf.link-style.example">fox jumps</span><span id="pdf.link-page-number.example"> on page 42</span> over the lazy dog.</p>
      </div>
    </div>
    <fieldset>
      <p>
        <label>Link font</label>
        <label for="pdf.link-font-weight" class="inline">Bold</label><input name="pdf.link-font-weight" type="checkbox" value="bold">
        <label for="pdf.link-font-style" class="inline">Italic</label><input name="pdf.link-font-style" type="checkbox" checked value="italic">
        <label for="pdf.link-text-decoration" class="inline">Underline</label><input name="pdf.link-text-decoration" type="checkbox" value="underline">
        <label for="pdf.link-color" class="inline">Color</label>
        <input type="hidden" name="pdf.link-color" class="editable-list">
        <select id="pdf.link-color.list" title="Link color">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="blue" selected>blue</option>
          <option value="black">black</option>
          <option value="inherit">inherit</option>
          <option value="#other">other…</option>
        </select>
        <input type="text" id="pdf.link-color.other" style="display:none" size="7">
      </p>
    </fieldset-->
    <fieldset>
      <p>
        <label for="pdf.link-page-number">Page number on links</label>
        <input name="pdf.link-page-number" type="checkbox" value="true" checked>
      </p>
      <p class="instruction">Add page number to links.</p>
    </fieldset>
  </div>
  <div class="page">
      <h3>Titles</h3>
      <div class="example" id="pdf.title-numbering.example">
        <div id="pdf.title-numbering.example.chapters" class="example-text">
          <p class="example-page-content-title"><strong>1</strong> Heading 1</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong></strong> Heading 2</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong></strong> Heading 3</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong>A</strong> Appendix</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          </div>
        <div id="pdf.title-numbering.example.all" class="example-text">
          <p class="example-page-content-title"><strong>1</strong> Heading 1</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong>1.1</strong> Heading 2</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong>1.1.1</strong> Heading 3</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
          <p class="example-page-content-title"><strong>A</strong> Appendix</p>
          <p class="example-page-content-para">The quick brown fox jumps over the lazy dog.</p>
        </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.title-numbering">Title numbering</label>
        <select name="pdf.title-numbering" id="pdf.title-numbering" title="Title numbering">
          <option value="chapters">Chapters only</option>
          <option value="all">All levels</option>
        </select>
      </p>
    </fieldset>
    <h3>Table of Contents</h3>
    <fieldset>
      <p>
        <label for="pdf.toc-maximum-level">Show level</label>
        <select name="pdf.toc-maximum-level" id="pdf.toc-maximum-level">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="2">1</option>
          <option value="3">2</option>
          <option value="4" selected>3</option>
          <option value="5">4</option>
        </select>
      </p>
      <p class="instruction">Number of levels displayed on table of contents page.</p>
    </fieldset>
    <h3>PDF Bookmarks</h3>
    <fieldset>
      <p>
        <label for="pdf.bookmark-style">Bookmarks state</label>
        <select name="pdf.bookmark-style" id="pdf.bookmark-style" title="Bookmark initial state">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="COLLAPSED" selected>collapsed</option>
          <option value="EXPANDED">expanded</option>
        </select>
      </p>
      <p class="instruction">PDF bookmark node initial state.</p>
    </fieldset>
    <!--
  </div>
  <div class="page">
    -->
    <h3>Labels</h3>
    <div class="example">
      <div class="example-text">
        <p class="example-page-content-para example-task-label"><strong>About this task</strong></p>
        <p class="example-page-content-para">Learn how to add nails to walls.</p>
        <p class="example-page-content-para example-task-label"><strong>Before you start</strong></p>
        <p class="example-page-content-para">Buy a hammer and a nail.</p>
        <p class="example-page-content-para example-task-label"><strong>Procedure</strong></p>
        <p class="example-page-content-para">1. Hammer in the nail.</p>
      </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.task-label">Task labels</label>
        <input type="checkbox" name="pdf.task-label" id="pdf.task-label" value="true" title="Task labels">
      </p>
      <p class="instruction">Generate titles for task steps and sections.</p>
    </fieldset>
    <fieldset class="fah">
      <p class="not-available">Not available for FOP and RenderX XEP</p>
      <p>
        <label for="pdf.table-continued">Table continued</label>
        <input type="checkbox" name="pdf.table-continued" id="pdf.table-continued" value="true" title="Mark continued table">
      </p>
      <p class="instruction">Generate "Table continued…" to table footer when table is broken to multiple pages.</p>
    </fieldset>
    <h3>Linking</h3>
    <fieldset>
      <p>
        <label for="pdf.include-related-links">Related links</label>
        <select name="pdf.include-related-links" id="pdf.include-related-links" title="Task labels">
          {% if advanced %}<option value="">default</option>{% endif %}
          <option value="none" selected>none</option>
          <option value="nofamily">no family</option>
          <option value="all">all</option>
        </select>
      </p>
      <p class="instruction">Related links generated for topics.</p>
    </fieldset>
    <!--
  </div>
  <div class="page">
    -->
    <h3>Lists</h3>
    <div class="example">
      <div id="pdf.dl.example.html" class="example-text">
      <dl>
        <dt><strong>Pangram</strong></dt>
        <dd>The quick brown fox jumps over the lazy dog.</dd>
        <dt><strong>XXX</strong></dt>
        <dd>The quick brown fox jumps over the lazy dog.</dd>
      </dl>
      </div>
      <div id="pdf.dl.example.table" class="example-text">
      <table>
        <tr>
          <th><strong>Pangram</strong></th>
          <td>The quick brown fox jumps over the lazy dog.</td>
        </tr>
        <tr>
          <th><strong>XXX</strong></th>
          <td>The quick brown fox jumps over the lazy dog.</td>
        </tr>
      </table>
      </div>
      <div id="pdf.dl.example.list" class="example-text">
      <ul>
        <li><strong>Pangram</strong><br>The quick brown fox jumps over the lazy dog.</li>
        <li><strong>XXX</strong><br>The quick brown fox jumps over the lazy dog.</li>
      </ul>
      </div>
    </div>
    <fieldset>
      <p>
        <label for="pdf.dl">Definition list</label>
        <select name="pdf.dl" id="pdf.dl" title="Definition list">
          <option value="table" selected>table</option>
          <option value="html">HTML style</option>
          <option value="list">bullet list</option>
        </select>
      </p>
      <p class="instruction">Definition list style.</p>
    </fieldset>
  </div>
  <!-- metadata -->
  <div class="page">
    <h3>Metadata</h3>
    <fieldset>
      <p>
        <label for="id" class="required">Plug-in ID</label>
        <input type="text" name="id" id="id" class="required" required
               title="ID of the new topic type or shell">
      </p>
      <p class="instruction">Plug-in ID is used to identify the DITA-OT plug-in.</p>
      <p class="help">ID must conform to plug-in ID syntax rules.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="transtype" class="required">Transtype</label>
        <input name="transtype" id="transtype" class="required" required
               title="Transtype">
        
      </p>
      <p class="instruction">Name of the new transformation type.</p>
      <p class="help">Transtype name must conform to same syntax
          rules as plug-in ID.</p>
    </fieldset>
    <!--fieldset>
      <p>
        <label for="title" class="required">Title</label>
        <input type="text" name="title" id="title" class="required" required title="Title of the type">
        <span class="instruction">Human readable name.</span>
      </p>
      <p class="help">
        Type title is the human readable name for the {{ output_title }}.
      </p>
    </fieldset-->
    <fieldset>
      <p title="Generated plugin version number">
        <label for="plugin-version">Plug-in version</label>
        <input type="text" name="plugin-version" id="plugin-version"
               placeholder ="0.0.0">
      </p>
    </fieldset>
  </div>
{% endblock %}
