{% extends "form.html" %}

{% block form %}
  {% if not advanced %}
    <!--input type="hidden" name="file" value="plugin"-->
  {% endif %}
  <input type="hidden" name="output" value="{{ output }}">
  <div class="page">
    <p class="help">A PDF customization plug-in defines a new DITA-OT
      transformation type based on the built-in PDF conversion.</p>
  </div>
  <div class="page">
    <fieldset>
      <p>
        <label for="ot.version" class="required">DITA-OT version</label>
        <select name="ot.version" id="ot.version" title="DITA-OT version">
          <!--option value="1.0">1.5.2 or older</option-->
          <option value="1.5.3" selected>1.5.3</option>
          {% if advanced %}
            <option value="1.5.4">1.5.4 or newer</option>
          {% else %}
            <option value="1.5.4" disabled style="display:none">1.5.4 or newer</option>
          {% endif %}
        </select>
      </p>
      <p class="instruction">Version of DITA-OT for which the plug-in is
        installed into.</p>
    </fieldset>
  </div>
  <!-- page dimensions -->
  <div class="page">
    <!--
    <div id="page-preview" class="preview" style="float: right; width: 130px;">
      <div>Preview</div>
      <div class="preview-page preview-page-even">
        <div class="preview-content">
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
        </div>
      </div>
      <div class="preview-page preview-page-odd">
        <div class="preview-content">
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-title"></div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
          <div class="preview-para">
            <div class="preview-line"></div>
            <div class="preview-line"></div>
            <div class="preview-line-last"></div>
          </div>
        </div>
      </div>
    </div>
    -->
    <fieldset>
      <p>
        <label for="pdf.page-size" class="required">Page size</label>
        <select name="pdf.page-size" id="pdf.page-size" title="Page size">
          <option value="">default</option>
          <option value="210mm 297mm">A4</option>
          <option value="8.5in 14in">US Legal</option>
          <option value="8.5in 11in" selected>US Letter</option>
        </select>
      </p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.page-margin-top">Margin top</label>
        <input name="pdf.page-margin-top" id="pdf.page-margin-top" placeholder="20mm">
      </p>
      <p class="v1_5_3">
        <label for="pdf.page-margin-right">Margin right</label>
        <input name="pdf.page-margin-right" id="pdf.page-margin-right" placeholder="20mm">
      </p>
      <p class="v1_5_4">
        <label for="pdf.page-margin-outside">Margin outside</label>
        <input name="pdf.page-margin-outside" id="pdf.page-margin-outside" placeholder="20mm">
      </p>
      <p>
        <label for="pdf.page-margin-bottom">Margin bottom</label>
        <input name="pdf.page-margin-bottom" id="pdf.page-margin-bottom" placeholder="20mm">
      </p>
      <p class="v1_5_3">
        <label for="pdf.page-margin-left">Margin left</label>
        <input name="pdf.page-margin-left" id="pdf.page-margin-left" placeholder="20mm">
      </p>
      <p class="v1_5_4">
        <label for="pdf.page-margin-inside">Margin inside</label>
        <input name="pdf.page-margin-inside" id="pdf.page-margin-inside" placeholder="20mm">
      </p>
      <p class="instruction">Page margins.</p>
    </fieldset>
    <fieldset class="v1_5_4">
      <p>
        <label for="pdf.mirror-page-margins">Mirror margins</label>
        <input type="checkbox" name="pdf.mirror-page-margins" id="pdf.mirror-page-margins"
               value="true">
      </p>
    </fieldset>
  </div>
  <!-- page sequence -->
  <div class="page">
    <fieldset>
      <p>
        <label for="pdf.force-page-count">Chapter page</label>
        <select name="pdf.force-page-count" id="pdf.force-page-count" title="Force page count">
          <option value="">default</option>
          <option value="even">start on odd page</option>
          <!--option value="odd">odd</option-->
          <option value="auto">no empty pages</option>
        </select>
      </p>
      <p class="instruction">Chapters can be made to always start on an odd
        page or directly follow the previous page.</p>
      <p class="help">Default page count behavior for Bookmaps is to start every
      chapter on an odd page.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.chapter-layout" >Chapter layout</label>
        <select name="pdf.chapter-layout" id="pdf.chapter-layout" title="Chapter page layout">
          <option value="">default</option>
          <option value="MINITOC">TOC</option>
          <option value="BASIC">no TOC</option>
        </select>
      </p>
      <p class="instruction">Chapters can start with a table of chapter contents.</p>
    </fieldset>
  </div>
  <!-- TOC and bookmarks -->
  <div class="page">
    <fieldset>
      <p>
        <label for="pdf.bookmark-style">Bookmarks state</label>
        <select name="pdf.bookmark-style" id="pdf.bookmark-style" title="Bookmark initial state">
          <option value="">default</option>
          <option value="COLLAPSED">collapsed</option>
          <option value="EXPANDED">expanded</option>
        </select>
      </p>
      <p class="instruction">PDF bookmark node initial state.</p>
    </fieldset>
  </div>
  <!-- task -->
  <div class="page">
    <fieldset>
      <p>
        <label for="pdf.task-label">Task labels</label>
        <select name="pdf.task-label" id="pdf.task-label" title="Task labels">
          <option value="">default</option>
          <option value="YES">yes</option>
          <option value="NO">no</option>
        </select>
      </p>
      <p class="instruction">Generate titles for task steps.</p>
    </fieldset>
  </div>
  <!-- text -->
  <div class="page">
    <fieldset>
      <p>
        <label for="pdf.default-font-size">Font size</label>
        <input name="pdf.default-font-size" id="pdf.default-font-size" placeholder="10pt">
      </p>
      </p>
      <!--p class="help">Font size</p-->
      <p class="instruction">Font size for the body content.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.font-family">Font family</label>
        <select name="pdf.font-family" id="pdf.font-family" title="Font family">
          <option value="">default</option>
          <option value="Serif">serif</option>
          <option value="Sans">sans-serif</option>
          <!--option value="Monospaced">monospace</option-->
        </select>
      </p>
      <p class="instruction">Font family for the body content.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="pdf.side-col-width">Body indent</label>
        <input name="pdf.side-col-width" id="pdf.side-col-width" placeholder="25pt">
      </p>
      <p class="instruction">Amount the body text is indented relative to the left margin.</p>
    </fieldset>
  </div>
  <!-- metadata -->
  <div class="page">
    <fieldset>
      <p>
        <label for="id" class="required">Plug-in ID</label>
        <input type="text" name="id" id="id" class="required" required
               title="ID of the new topic type or shell">
        <span class="instruction">ID must conform to plug-in ID syntax rules.</span>
      </p>
      <p class="help">Plug-in ID is used to identify the DITA-OT plug-in.</p>
    </fieldset>
    <fieldset>
      <p>
        <label for="transtype" class="required">Transtype</label>
        <input name="transtype" id="transtype" class="required" required
               title="Transtype">
        <span class="instruction">Transtype name must conform to same syntax
          rules as plug-in ID.</span>
      </p>
      <p class="help">Plug-in ID is used to identify the DITA-OT plug-in.</p>
    </fieldset>
    <!--fieldset>
      <p>
        <label for="title" class="required">Title</label>
        <input type="text" name="title" id="title" class="required" required title="Title of the type">
        <span class="instruction">Human readable name.</span>
      </p>
      <p class="help">
        Type title is the human readable name for the {{ output_title }}.
      </p>
    </fieldset-->
    <fieldset>
      <p title="Generated plugin version number">
        <label for="plugin-version">Plug-in version</label>
        <input type="text" name="plugin-version" id="plugin-version"
               placeholder ="0.0.0">
      </p>
    </fieldset>
  </div>
{% endblock %}
