fieldset.model {
  display: none;
}

.form,
.example-block {
  float: left;
}
.form {
  width: 500px;
}
.example-block {
  width: 600px;
  margin-top: 1em;
  margin-left: 1em;
}

.preview {
  .preview-page {
    width: 50px;
    height: 75px;
    border: solid 1px black;
    overflow: hidden;
    box-shadow: 3px 3px 3px #ccc;
    margin: 5px;
    float: right;
  }
  .preview-content {
  }
  .preview-para {
    margin-bottom: 5px;
  }
  .preview-line,
  .preview-line-last {
    border-top: solid 1px silver;
    height: 1px;
    margin-left: 2px;
    margin-bottom: 1px;
  }
  .preview-line-last {
    width: 30%;
  }
  .preview-title {
    border-top: solid 1px black;
    height: 1px;
    width: 60%;
    margin-bottom: 1px;
  }
}

fieldset {
  /*clear: clear;*/
}

h3 {
  /*clear: both;*/
}

.example {
  width: 225px;
  float: right;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  clear: both;

  ul {
    padding-left: 20px;
  }
  dd {
    margin-left: 20px;
  }
  table {
    border-collapse: collapse;
  }
  table, td, th {
    border: solid 1px black;
    margin: 0 auto;
  }

}
.example:before,
.example-block:before{
  content: "Preview:";
  font-size: 10px;
  line-height: 10px;
  display: block;
  font-style: italic;
}

.example-page, .example-page-fragment {
  /* height set dynamically */
  /* width set dynamically */
  border: solid 1px black;
  box-shadow: 3px 3px 3px #ccc;
  font-size: 6px;
  line-height: 6px;
  float: left;
  margin: 2px;
}
.example-page-body {
  overflow: hidden;
  /* margin set dynamically */
  /* height set dynamically */
  /* width set dynamically */
}
div.example-page-body {
  background-color: silver;
}
table.example-page-body td {
  height: 100%;
  empty-cells: show;
}
table.example-page-body td div {
  background-color: silver;
  height: 100%;
  width: 100%;
}
table.cut-off td:last-child div {
  height: 50%;
}
table.example-page-body td.gap{
  background-color: transparent;
}

.example-page table,
.example-page table * {
  border: none;
  padding: 0px;
}

.example-block-page {
  border: solid 1px black;
  border-style: dashed solid;
  padding: 5px 0px;
  box-shadow: 3px 3px 3px #ccc;
}

.example-page-wrapper {
  line-height: 1.2 !important;
}
.example-page-content-topic {
  /* margin-top set dynamically */
  /* font-weight set dynamically */
}
.example-page-content-body {
  /* margin-top set dynamically */
  /* margin-bottom set dynamically */
}

.example-text {
  border: solid 1px black;
  box-shadow: 3px 3px 3px #ccc;
  padding: 5px;

  p {
    margin: 0 2px;
  }
}

.example-page-content-ol,
.example-page-content-ol ol {
  list-style: none;
  padding-left: 0px;
}
.example-page-content-ol ol {
  padding-left: 10px;
}

.example-page-content-ul,
.example-page-content-ul ul {
  list-style: none;
  padding-left: 0px;
}
.example-page-content-ul ul {
  padding-left: 10px;
}