.preview .preview-page {
  width: 50px;
  height: 75px;
  border: solid 1px black;
  overflow: hidden;
  box-shadow: 3px 3px 3px #ccc;
  margin: 5px;
  float: right;
}
.preview .preview-content {
}
.preview .preview-para {
  margin-bottom: 5px;
}
.preview .preview-line,
.preview .preview-line-last {
  border-top: solid 1px silver;
  height: 1px;
  margin-left: 2px;
  margin-bottom: 1px;
}
.preview .preview-line-last {
  width: 30%;
}
.preview .preview-title {
  border-top: solid 1px black;
  height: 1px;
  width: 60%;
  margin-bottom: 1px;
}

fieldset {
  width: 500px;
  clear: none;
}

.example {
  width: 225px;
  float: right;
  font-size: 10px;
  line-height: 10px;
  /*border: solid 1px gray;*/
  padding: 5px;
  clear: both;
}
.example:before {
  content: "Preview:";
  display: block;
  font-style: italic;
}

.example ul {
  padding-left: 20px;
}
.example dd {
  margin-left: 20px;
}
.example table {
  border-collapse: collapse;
}
.example table, .example td, .example th {
  border: solid 1px black;
  margin: 0 auto;
}
.example-page, .example-page-fragment {
  /* height set dynamically */
  /* width set dynamically */
  border: solid 1px black;
  box-shadow: 3px 3px 3px #ccc;
  font-size: 6px;
  line-height: 6px;
  float: left;
  margin: 2px;
}
.example-page-body {
  overflow: hidden;
  /* margin set dynamically */
  /* height set dynamically */
  /* width set dynamically */
}
div.example-page-body {
  background-color: silver;
}
table.example-page-body td {
  /*background-color: silver;*/
  height: 100%;
  empty-cells: show;
}
table.example-page-body td div {
  background-color: silver;
  height: 100%;
  width: 100%;
}
table.cut-off td:last-child div {
  height: 50%;
}
table.example-page-body td.gap{
  background-color: transparent;
}

.example-page table,
.example-page table * {
  border: none;
  padding: 0px;
}

.example-page-content-title {
  margin-top: 5px;
  font-weight: bold;
}
.example-page-content-para {
  /* margin-top set dynamically */
  /* margin-bottom set dynamically */
  margin-top: 5px;
  margin-bottom: 5px;
}

.example-text {
  border: solid 1px black;
  box-shadow: 3px 3px 3px #ccc;
  padding: 5px;
}
.example-text p {
  margin: 0 2px;
}
